<div class="container spacer">
  <div class="panel panel-primary">
    <div class="panel-heading"> List Contacts</div>
    <div class="panel-body">
      <div class="container">
        <div class="form-group">
          <label>Mot Cle :</label>
          <input type="text"  [(ngModel)]="motCle" name="nom" placeholder="Entrez le nom">
          <button class="btn btn-primary" (click)="chercher()">Chercher</button>
        </div>
  <table class="table table-striped">
    <tr>
      <th>Id</th>
      <th>Nom</th>
      <th>Prenom</th>
      <th>Email</th>
      <th>Telephone</th>
      <th>Update</th>
      <th>Delete</th>
    </tr>
    <tr  *ngFor="let c of pageContact">
      <td>{{c.id}}</td>
      <td>{{c.nom}}</td>
      <td>{{c.prenom}}</td>
      <td>{{c.email}}</td>
      <td>{{c.tel}}</td>
      <td>
        <a (click)="oneditContact(c.id)" class="clikable">Edit</a>
      </td>
      <td>
        <a (click)="ondeleteContact(c)" class="clikable">Delete</a>
      </td>
    </tr>
  </table>
        <div class="container">
          <ul class="nav nav-pills">
            <li [ngClass]="{'active':i==currentPage}" *ngFor="let p of pages"; let i=index">
              <a class="clickable" (click)="gotoPage(i)">{{i}}</a>
            </li>
          </ul>
        </div>
    </div>
  </div>

  </div>
</div>
